<div class="footer p-a-md" id="footer">
    <div class="text-center">
      <div class="row">
        <div class="col-md-2">
            <div class="clearfix text-lg m-t">
              <img src="../assets/images/logo.png" style="width:35px; height:40px">
                <strong></strong> FlatKit
              </div>
        </div>
        <div class="col-md-8">
            <div class="nav m-y justify-content-center">
             
                <a class="nav-link" href>
                  <span>Home</span> 
                </a>
                <a class="nav-link" href>
                  <span>Shop</span> 
                </a>
                <a class="nav-link" href>
                  <span>Blog</span> 
                </a>
                <a class="nav-link" href>
                  <span>Service</span> 
                </a>
                <a class="nav-link" href>
                  <span>About us</span> 
                </a>
                <a class="nav-link" href>
                  <span>Contact</span> 
                </a>
            
            </div>
        </div>
        <div class="col-md-2">
            <div class="block clearfix" style="margin-top:10%;">
                <a href class="btn btn-icon btn-social rounded btn-sm">
                  <i class="fa fa-facebook"></i>
                  <i class="fa fa-facebook indigo"></i>
                </a>
                <a href class="btn btn-icon btn-social rounded btn-sm">
                  <i class="fa fa-twitter"></i>
                  <i class="fa fa-twitter light-blue"></i>
                </a>
                <a href class="btn btn-icon btn-social rounded btn-sm">
                  <i class="fa fa-google-plus"></i>
                  <i class="fa fa-google-plus red"></i>
                </a>
          
              </div>
          </div>
      </div>
   

   
    </div>

  </div>
  
